:root {
    --omniva-main-color: #ff6600;
    --omniva-second-color: #000000;
    --matkahuolto-main-color: #001e60;
    --matkahuolto-second-color: #c89c88;
}

.select2-container {
    text-indent: 0px !important;
    max-width: 100%;
}
