/*** Manifest header ***/
.omniva-manifest-header {
    margin-top: 15px;
    margin-bottom: 5px;
}

.omniva-manifest-header .omniva-btn-get-manifest {
    margin-left: 5px;
    vertical-align: baseline;
}

.select2-container {
    text-indent: 0px !important;
    max-width: 100%;
}
